html,
body {
  min-height: 100%;
  background: #fff;
  font-family: 'Roboto', Verdana, "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
code,
kbd,
pre,
samp {
  font-family: 'Roboto', Verdana, "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}
*,
 {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  line-height: 1.8em;
  padding: 0;
  list-style: none;
}

li {
}
.text-center {
  text-align: center;
}

hr {
  margin: 38px 0px;
  border-style: none none dashed;
  border-bottom-width: 1px; 
  border-bottom-color: rgb(227, 227, 227); 
  color: rgb(227, 227, 227); 
  height: 1px; 
  line-height: 1px; 
  font-size: 1px; 
  overflow: hidden; 
  font-family:sans-serif; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: normal; 
  letter-spacing: normal; 
  orphans: auto; 
  text-align: start; 
  text-indent: 0px; 
  text-transform: none; 
  white-space: normal; 
  widows: auto; 
  word-spacing: 0px; 
  -webkit-text-stroke-width: 0px; 
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 767px) {
  html,
  body {
    overflow-x: hidden;
  }
}
