/* 文章标题设置 */
.post-title {
  font-size:        26px;
  text-align:       center;
  word-break:       break-word;
  font-weight:      400;
  background-color: #b9d3ee;
  border-radius:    .3em;
  line-height:      1em;
  padding-bottom:   .12em;
  padding-top:      .12em;
  box-shadow:       2px 2px 7px #9fb6cd;
}
