/* 文章中一号标题设置，# xxx*/
.post-body h1 {
  display:block;
  background-image:linear-gradient(to right,#fff,#8bc34a,#4caf50,#4caf50,#4caf50,#8bc34a,#fff);
  background-color:#4caf50;
  color:#fff;
  font-size:1.4em;
  padding:10px 0;
  letter-spacing:2px;
  text-shadow:1px 1px 1px #666;
  text-align:center
}

/* 标签样式 */
.tag-cloud a {
  display:contents;
  margin:14px;
}
